@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 43% 97%;
    --foreground: 210 51% 16%;
    --card: 0 0% 100%;
    --card-foreground: 210 51% 16%;
    --primary: 215 100% 30%;
    --primary-foreground: 0 0% 100%;
    --muted: 204 25% 95%;
    --muted-foreground: 208 18% 46%;
    --border: 210 22% 89%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}
